<div class="card mt-5">
    <div class="card-header">Pridėti naują dovanąs</div>
    <div class="card-body">
        <app-loading *ngIf="isLoading"></app-loading>
        <div class="alert alert-danger" *ngIf="isError">Įvyko klaida</div>
            
       <form (ngSubmit)="updateRecord(f)" #f="ngForm">

       
            <div class="mb-3">
                <label for="recipient" class="form-label">Kam skirta dovana</label>
                <input 
                    type="text" 
                    name="recipient" 
                    id="recipient" 
                    class="form-control"
                    [class.is-invalid]="!inputRecipient.valid" 
                    [(ngModel)]="recipient"
                    required
                    minlength="2"
                    maxlength="32"
                    #inputRecipient="ngModel"
                >
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Dovanos aprašas</label>
                <input 
                type="text"
                name="description" 
                id="description" 
                class="form-control" 
                [class.is-invalid]="!inputDescription.valid" 
                [(ngModel)]="description"
                required
                minlength="2"
                maxlength="256"
                #inputDescription="ngModel"
                >
                <div class="helper-block" *ngIf="!inputDescription.valid">Aprašymas yra privalomas ir trui būti nuo 2 iki 256 simbolių</div>
            </div>
            <div class="mb-3">
                <label for="status" class="form-label">Būsena</label>
                <select name="status" id="status" class="form-control"  [(ngModel)]="status">
                    <option value="suplanuota">Suplanuota</option>
                    <option value="nupirkta">Nupirkta</option>
                    <option value="supakuota" >Supakuota</option>
                </select>
            </div>

            <button type="submit" class="btn btn-success" [disabled]="!f.valid" >Atnaujinti</button>
        </form>
    </div>
</div>